<footer>
    <link rel="stylesheet" href="/css/footer.css">
<div align="center">
    <hr>
    <h3>Subscription Form</h3>
    <form action="">
        <input type="text" placeholder="Email Address" name="subform" id="subform">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <p>
        @2020 Know Better Clothing By Timi ladele
    </p>
</div>
<div align="right">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="https://www.facebook.com/officialknowbetter/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/knowbetterclot1" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/knowbetterclothing/" class="fa fa-instagram"></a>
</div>
</footer>
