<link rel="stylesheet" href="/css/navigation.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<div class="topnav">
    <a class="<%= path === '/' ? 'active' : ''  %>" href="/">Home</a>
    <div class="dropdown">
        <a class="dropbtn" href="/shop">Shop
          <i class="fa fa-caret-down" style="padding: 3px;"></i>
        </a> 
        <div class="dropdown-content">
            <div class="header">
              <h2 align="center" style="color: white;">Know Better Clothing</h2>
            </div> 
            <div class="row">
              <div class="column">
              <h3 align="center"><b><a href="/shop">Main Shop</a></b></h3>
              <a href="/jumpers">Jumpers</a>
              <a href="/tshirts">T-Shirts</a>
              <a href="/hoodies">Hoodies</a>
              </div>
              <div class="column">
                <h3 align="center"><b><a href="/mens">Mens</a></b></h3>
                <a href="/mensjumpers">Jumpers</a>
                <a href="/menstshirts">T-Shirts</a>
                <a href="/menshoodies">Hoodies</a>
              </div>
              <div class="column">
                <h3 align="center"><b><a href="/womens">Womens</a></b></h3>
                <a href="/womensjumpers">Jumpers</a>
                <a href="/womenstshirts">T-Shirts</a>
                <a href="/womenshoodies">Hoodies</a>
              </div>
            </div>
        </div>
      </div>
      <a class="<%= path === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
      <a class="<%= path === '/about' ? 'active' : '' %>" href="/about">About</a>
      <div>
        <a id="carticon" href="/cart"><i class="fas fa-shopping-bag" style='font-size:24px'></i></a>
        <div>
          <img id="navpic" class="center" src="/images/Know Better Clothing Logo.jpg" alt="">
        </div>
      </div>
</div>
