<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
<div align="center">
    <img src="/images/Know Better Clothing Logo.jpg" alt="">
</div>
<center><h2 id="sub-title">What Know Better Clothing Is About</h1></center>
    <hr>
<div align="center">
    <p>
        Shopping online has never been more rewarding. Our selection of fashion goods will transform anyone and take style to a whole new level.
    </p>
    <p>
        Know Better has been highly successful since day one. Browse our site and you will get a taste of the style that we have to offer. Hopefully you will know better and join the stylish life style.
    </p>
    <p>
        “Know Better Clothing” is a starter/upcoming retail clothing business. It has been running for less than a year.
        The founder/owner of this organisation is Joe Kearns. 
        Joe Kearns is a young male aged 17, who attends Trinity School Sixth Form. 
        He is relatively new to the World of running a business, however, he knows enough to be able to start/run his own Clothing business. 
        At the moment, the business only sells a few product types but he insists the business aims to expand the product range through the prospect of investment and potential customers.
    </p>
</div>
<%- include('includes/footer.ejs') %>
</body>
</html>