<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
<%- include('includes/home.ejs') %>
<div align="center">
    <img src="/images/Know Better Clothing Logo.jpg" alt="">
</div>
<h2 align="center" id="sub-title">Our Contact Page</h2>
<hr>
<div>
    <p align="center" >
        Welcome to Know Better's Contact Page, this page has information regarding our 
        social media platforms and the various ways you can contact us.
    </p>
    <p align="center">
        Please contact us via:
    </p>
    <li align="center">
        Instagram: Know Better Clothing
    </li>
</div>
</body>
</html>