<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>
<%- include('includes/home.ejs') %>
<div align="center">
    <img src="/images/Know Better Clothing Logo.jpg" alt="">
</div>
<h2 align="center" id="sub-title">Our Contact Page</h2>
<hr>
<div>
    <p align="center" >
        Welcome to Know Better's Contact Page, this page has information regarding our 
        social media platforms and the various ways you can contact us.
    </p>
    <p align="center">
        Please contact us via:
    </p>
    <div class="container">
        <div style="text-align:center">
          <h2>Contact Us</h2>
          <p align="center">At Know Better Clothing, we appreciate feedback as we feel it enables us to be at our best.</p>
          <p align="center">Leave us a message:</p>
        </div>
        <div class="row">
          <div id="contactinfo" align="center">
            <form action="/action_page.php">
              <label for="fname">First Name</label>
              <br>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
              <br>
              <br>
              <label for="lname">Last Name</label>
              <br>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              <br>
              <br>
              <label for="country">Country</label>
              <br>
              <select id="country" name="country">
                <option value="afghanistan">Afghanistan</option>  
                <option value="albania">Albania</option>
                <option value="algeria">Algeria</option>
                <option value="andorra">Andorra</option>
                <option value="angola">Angola</option>
                <option value="antigua and barbuda">Antigua and Barbuda</option>
                <option value="argentina">Argentina</option>
                <option value="armenia">Armenia</option>
                <option value="australia">Australia</option>
                <option value="austria">Austria</option>
                <option value="azerbaijan">Azerbaijan</option>
                <option value="bahamas">Bahamas</option>
                <option value="bangladesh">Bangladesh</option>
                <option value="brazil">Brazil</option>
                <option value="bulgaria">Bulgaria</option>
                <option value="cameroon">Cameroon</option>
                <option value="canada">Canada</option>
                <option value="china">China</option>
                <option value="colombia">Colombia</option>
                <option value="denmark">Denmark</option>
                <option value="ecuador">Ecuador</option>
                <option value="france">France</option>
                <option value="gambia">Gambia</option>
                <option value="germany">Germany</option>
                <option value="usa">USA</option>
              </select>
              <br>
              <br>
              <label for="subject">Subject</label>
              <br>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
              <br>
              <br>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    <li align="center">
        Instagram: Know Better Clothing
    </li>
</div>
<%- include('includes/footer.ejs') %>
</body>
</html>
