<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <%- include('includes/home.ejs') %>
    <div class="hero-image">
      <div class="hero-text">
        <b><h1 style="color: white;" align="center">Know Better Clothing</h1></b>
        <center><h2 style="color: white;" id="sub-title">'Knowledge is Power'</h2></center>
        <br>
        <br>
        <br>
        <a href="/shop"><button>Explore</button></a>
      </div>
    </div>
    
    <img src="/images/Know Better Clothing Logo.jpg" alt="">
    <hr>
    <img src="/images/Joe.jpg"/>
    <center><div id="apDiv1"></center>
      <div id="footer" data-packed="true">
        <h2 style="color: grey;" align="center">More About Us</h2>
        <p align="center">A Life of Fashion</p>
        <p align="center">&nbsp;</p>
        <p align="center">Shopping online has never been more rewarding. Our selection of fashion goods will transform anyone and take style to a whole new level.</p>
        <p><br />        
        </p>
        <p align="center">Know Better has been highly successful since day one. Browse our site and you will get a taste of the style that we have to offer. Hopefully you will know better and join the stylish life style.</p>
        <p><br />
        </p>
        <p align="center">&nbsp;Happy Shopping!</p>
      </div>
    </div>  
    <%- include('includes/footer.ejs') %>
</body>
</html>