<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <%- include('includes/home.ejs') %>
    <%- include('includes/verification.ejs') %>
    <div align="center">
        <img src="/images/Know Better Clothing Logo.jpg" alt="">
    </div>
    <h1>Know Better Clothing</h1>
    <hr>
    <div>
        <center><h2>Login Here!</h2></center>
        <form action="/shop" method="POST" align="center">
            Email Address:<br>
            <input type="text" value="">
            <br>
            <br>
            Password:<br>
            <input type="password" value="">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
    
</body>
</html>