<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <%- include('includes/home.ejs') %>
    <%- include('includes/verification.ejs') %>
    <div align="center">
        <img src="/images/Know Better Clothing Logo.jpg" alt="">
    </div>
    <i><p align="center">If you are new to Know Better Clothing and do not have an account, please create an
        account below:
    </p></i>
    <h1>Know Better Clothing</h1>
    <hr>
    <br>
    <div align ="center">
        <center><h2>Sign Up Here!</h2></center>
        <form action="/login" method="POST" align="center">
            Username:
            <input type="text" name="name" value="" align="center">
            <br>
            <br>
            First Name:
            <input type="text" value="" align="center">
            <br>
            <br>
            Surname:
            <input type="text" value="" align="center">
            <br>
            <br>
            Password:
            <input type="password" name="password" value="" align="center">
            <br>
            <br>
            Confirm Password:
            <input type="password" value="" align="center">
            <br>
            <br>
            Email Address:
            <input type="text" name="emailAddress" value="" align="center">
            <br>
            <br>
            <br>
            <br>
            House Number:
            <input type="number" value="">
            <br>
            <br>
            Street Name:
            <input type="text" value="">
            <br>
            <br>
            Town:
            <input type="text" value="">
            <br>
            <br>
            Postcode:
            <input type="text" value="">
            <br>
            <br>
            Country:
            <input type="text" value="">
            <br>
            <br>
            Mobile Number:
            <input type="tel" value="">
            <br>
            <br>
            <br>
            <input type="submit" value="Sign Up">
            <br>
            <br>
            <br>
        </form>
    </div>
</body>
</html>